<section class="info_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 info_col">
          <div class="info_contact">
            <h4>
              Contact Info
            </h4>
            <div class="contact_link_box">
              <a>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Olin College of Engineering

<br>1000 Olin Way

Needham, MA 02492
                </span>
              </a>
              <a>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  pint@olin.edu
                </span>
              </a>
            </div>
          </div>
          <div class="info_social">
            <a href="https://www.facebook.com/pintatolin/">
              <i class="fa fa-facebook" aria-hidden="true" style="margin-right: 5px;"></i>
            </a>
            <a href="https://www.instagram.com/olinpint/">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info_col">
          <div class="info_detail">
            <h4>
              We are PInT!
            </h4>
            <p>
              PInT is the student-run public interest technology (PIT) organization at 
Olin College of Engineering
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-2 mx-auto info_col" style="padding-left: 40px;">
          <div class="info_link_box">
            <h4>
              Menu
            </h4>
            <div class="info_links">
              <a class="active" href="/">
                Home
              </a>
              <a class="" href="/about">
                About
              </a>
              <a class="" href="/teams">
                Teams
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-2 mx-auto info_col">
          <div class="info_link_box">
            <h4>
              Resources
            </h4>
            <div class="info_links">
              <a class="active" href="/partner-with-us">
                Contact Us
              </a>
              <a class="" href="/events">
                Schedule
              </a>
              <a class="" href="https://www.givecampus.com/schools/OlinCollegeofEngineering/olin-pint-2022-23">
                Donation
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>