<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/PInT Logo_No text light.png" type="">

  <title> PInT | Olin </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- font awesome style -->
  <link href="css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />

</head>

<body>

  <div class="hero_area">

    <div class="hero_bg_box">
      <div class="bg_img_box">
      </div>
    </div>

    <%- include('./components/header', {page:"home"}); %>

    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1 style="text-transform: inherit">
                      PInT <br> at Olin
                    </h1>
                    <p>
                      PInT is the student-run public interest technology (PIT) organization at Olin <br>
College of Engineering. Our mission to empower each other to build various skills <br>
and make an impact on justice, equity, inclusion, and doing good in the world.
                    </p>
                    <div class="btn-box">
                      <a class="btn1" href="/about">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img class="slide-images" src="images/home1.jpg" alt="">
                    <img class="slide-images" src="images/home2.jpg" alt="">
                    <img class="slide-images" src="images/home3.jpg" alt="">
                    <img class="slide-images" src="images/home4.jpg" alt="">
                    <img class="slide-images" src="images/home5.jpg" alt="">
                  </div>
                  <button class="slide-left-button" onclick="plusDivs(-1)">&#60;</button>
                  <button class="slide-right-button" onclick="plusDivs(+1)">&#60;</button>
                  <div class="slide-progress-bar">
                    <div class="slide-progress-dots"></div>
                    <div class="slide-progress-dots"></div>
                    <div class="slide-progress-dots"></div>
                    <div class="slide-progress-dots"></div>
                    <div class="slide-progress-dots"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- end slider section -->
  </div>


  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
            Our <span>Teams</span>
          </h2>
          <p>
During the school year, PInT members have the opportunity to join student-led teams to work on various semester-long PIT projects. These projects help students gain interdisciplinary skills and real world experience in fields such as education, mechanical engineering, software engineering, user-oriented design, and more. 
          </p>
        </div>
        <div class="row div-in-4">
          <div class="col-md-4">
            <div class="box ">
              <div class="img-box">
                <img src="images/s1.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Community Knights
                </h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                </p>
                <a href="/teams/community-knights">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box ">
              <div class="img-box">
                <img src="images/s1.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Hydroponics
                </h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                </p>
                <a href="/teams/hydroponics">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="images/s2.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Out Maine
                </h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                </p>
                <a href="/teams/out-maine">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="images/s3.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  BFFC
                </h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                </p>
                <a href="/teams/bffc">
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->

  <!-- team section -->
  <section class="team_section service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
            What is <span>Public Interest Technology?</span>
          </h2>
          <p style="text-align: left; max-width: 800px; margin-top: 30px;">
            Public Interest Technology (PIT) is an emerging field focusing on educating engineers, designers, computer and data scientists, and others to work in service of the public good.
            <br> <br>
            Public interest technologists apply their technical knowledge and understanding of its social and political implications to promote the general public.
          </p>
          <div class="image-quotes">
            <div class="left">
              <img src="./images/PIT-UN.jpg"/>
            </div>
            <div class="right">
              <p>
                "Public interest technology refers to the study and application of technology expertise to advance the public interest/generate public benefits/promote the public good."

                <br><br>

                - Defining Public Interest Technology from New America
              </p>
            </div>
          </div>
          <h2>
            PIT-<span>UN</span>
          </h2>
          <p style="text-align: left; max-width: 800px; margin-top: 30px;">
            Olin is a founding member of the Public Interest Technology University Network (PIT-UN), a major initiative led by <a href="https://www.newamerica.org/">New America</a>, <a href="https://www.fordfoundation.org/">the Ford Foundation</a>, and the <a href="https://hewlett.org/">Hewlett Foundation</a>.
            <br> <br>
            "The Public Interest Technology University Network is a partnership that fosters collaboration between universities and colleges committed to building the nascent field of public interest technology and growing a new generation of civic-minded technologists. Through the development of curricula, research agendas, and experiential learning programs in the public interest technology space, these universities are trying innovative tactics to produce graduates with multiple fluencies at the intersection of technology and policy. By joining PIT-UN, members commit to field building on campus."
            <br><br>
            - New America
          </p>
          <div class="learn-more"><a href="https://pitcases.org/">Learn more</a></div>
        </div>
      </div>
    </div>
  </section>
  <!-- end team section -->


  <!-- client section -->

  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center psudo_white_primary mb_45">
        <h2>
          Get <span>Invovled!</span>
        </h2>
        <p class="involved-text">
          Join us in building a supportive community at Olin College that provides opportunities to engage with and talk about PIT.
        </p>
      </div>
      <div class="donate_container">
        <div class="donate_box">
          <img src="images/icon/calendar.png"/>
          <div class="donate_title">Come to an Event</div>
          <div class="donate_detail">Join a sub-team project or come to our community events</div>
        </div>
        <div class="donate_box">
          <img src="images/icon/handshake.png"/>
          <div class="donate_title">Partner with Us</div>
          <div class="donate_detail">We are always looking for new opportunities to collaborate</div>
        </div>
        <div class="donate_box" style="opacity: 0.4; cursor: default;">
          <img src="images/icon/circle.png"/>
          <div class="donate_title">Make a Donation</div>
          <div class="donate_detail">Your donations help fund PIT opportunities for our members</div>
        </div>
      </div>
    </div>
  </section>

  <!-- end client section -->


  <!-- info section -->

  <%- include("./components/footer") %>

  <!-- end info section -->

  <!-- jQery -->
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <!-- custom js -->
  <script type="text/javascript" src="js/custom.js"></script>
  <script type="text/javascript" src="/js/load_member.js"></script>

  </script>

</body>

</html>