<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/PInT Logo_No text light.png" type="">

  <title> PInT | Partner With Us </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- font awesome style -->
  <link href="css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/partner.css">
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />

</head>

<body class="sub_page">

  <div class="hero_area">

    <div class="hero_bg_box">
      <div class="bg_img_box">
        <img src="images/hero-bg.png" alt="">
      </div>
    </div>

    <!-- header section strats -->
    <%- include("./components/header", {page: "none"}) %>
    <!-- end header section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container form_body">
      <div class="heading_container heading_center">
        <h2>
          Partnership <span>Form</span>
        </h2>
        <p class="form-heading-text">
          Hi, thank you for taking an interest in partnering with Olin's Public Interest Technology (PInT) team. We are super excited to get to know and partner with you/your organization. Please fill out this form to give us a quick overview of who you are and how our team can play a role in helping your community!
        </p>
      </div>
      <div class="form-container organization">
        <h4>Organization</h4>
        <div class="required-field">Name:</div>
        <input type="text" class="form-org-name">
        <div class="required-field">What do you guys do?</div>
        <textarea class="form-org-what"></textarea>
      </div>
      <div class="form-container">
        <h4>Purpose</h4>
        <div class="required-field">Why are you reaching out to us?</div>
        <textarea class="form-purpose-why"></textarea>
        <div class="required-field">How can we help?</div>
        <textarea class="form-purpose-how"></textarea>
      </div>
      <div class="form-container">
        <h4>Contact</h4>
        <div class="required-field">Name of Person to Contact:</div>
        <input type="text" class="form-contact-nameperson">
        <div class="required-field">Email:</div>
        <input type="text" class="form-contact-email">
        <div>Phone:</div>
        <input type="text" class="form-contact-phone">
      </div>
      <div class="form-container error">
        <div><b>* All fields are required</b></div>
        <div>Organization: <b>Name</b> is a required field.</div>
        <div>Organization: <b>What do you guys do?</b> is a required field.</div>
        <div>Purpose: <b>How can we help?</b> is a required field.</div>
        <div>Contact: <b>Email</b> is a required field.</div>
      </div>
      <div class="form-container submit">
        <button class="submit">Submit</button>
      </div>
    </div>
    <div class="container thank_you_body" style="display: none;">
      <div class="heading_container heading_center">
        <h2>
          Thank you for filling out the <span>form</span>
        </h2>
        <p class="form-heading-text">
          Thank you for taking an interest in partnering with Olin's Public Interest Technology (PInT) team. We are super excited to get to know and partner with you/your organization. Our team will take a look at your response and reach out to you through the email you provided as soon as possible. Again, thank you for taking an interest in partnering with us!
        </p>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- info section -->
  <%- include("./components/footer") %>
  <!-- end info section -->

  <!-- jQery -->
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/partner.js"></script>
  <!-- owl slider -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>

</body>

</html>