<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="/images/PInT Logo_No text light.png" type="">

  <title> PInT | Teams </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- font awesome style -->
  <link href="/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/service.css" />
  <!-- responsive style -->
  <link href="/css/responsive.css" rel="stylesheet" />

</head>

<body class="sub_page">

  <div class="hero_area">

    <div class="hero_bg_box">
      <div class="bg_img_box">
        <img src="/images/hero-bg.png" alt="">
      </div>
    </div>

    <!-- header section strats -->
    <%- include("./components/header", {page: "teams"}) %>
    <!-- end header section -->
  </div>


  <!-- service section -->

  <section class="service_section layout_padding" style="padding-bottom: 70px;">
    <div class="service_container">
      <div class="container" style="max-width:100% !important; padding: 0px;">
        <div class="team-title">Our Four Fabulous <span>Subteams</span></div>
        <div class="team-subtitle">For the 2023-2024 Academic year, PInT members working on the following projects.</div>
        <div class="team-container-box">
          <div class="team-image-container team-left-container">
            <img src="/images/ck_example.jpg" />
          </div>
          <div class="team-text-container team-right-container">
            <h3>Community Knights</h3>
            <p>One of the largest problems facing a large number of service driven nonprofits is transportation. For many there is no access to quality public transportation and private services like Uber or Lyft are very cost prohibitive. And for many of the population that Community Knights services, neither of these options are overly safe. The goal is to solve this project through an Uber like mobile app named Knight Rides. The drivers for this app are screened by Community Knights (or other nonprofits using this service) and are driving for free or for a portion of gas money. The lack of cost for drivers and the additional safety of verified drivers will allow the vulnerable population to use this service for pre scheduled critical activities such as doctors appointments.</p>
          </div>
        </div>
        <div class="team-container-box">
          <div class="team-text-container team-left-container">
            <h3>Hydroponics</h3>
            <p>The Hydroponics team is actively working on an innovative project to enhance environmental efficiency and community involvement on campus. By installing a green wall at The MAC—a building known for its extensive window coverage—they aim to naturally regulate indoor temperatures, reduce energy consumption, and engage the campus community in environmental stewardship.
            </p>
          </div>
          <div class="team-image-container team-right-container">
            <img src="/images/hydro_example.jpg" />
          </div>
        </div>
        <div class="team-container-box">
          <div class="team-image-container team-left-container">
            <img src="/images/outmain_example.jpg" />
          </div>
          <div class="team-text-container team-right-container">
            <h3>Out Maine</h3>
            <p>LGBTQ+ youths are marginalized and have higher rates of bullying, harassment, substance use, self harm, suicidal ideation, and other high risk behaviors. Our goal is to help youth in Maine learn about different identities, build resiliency, increase positive communication skills, empathy, and positive self esteem. Currently, there are minimal games that are all inclusive in regards to gender identities, sexual orientation, race, and dis(abilities). At Out Maine, we are designing an interactive educational online game which brings up these issues and explores their intersectionality as well as complexity.</p>
          </div>
        </div>
        <div class="team-container-box">
          <div class="team-text-container team-left-container">
            <h3>BFFC</h3>
            <p>Since Fall of 2023, we have been partnering with the Boston Food Forest Coalition, an organization that works with communities in the greater Boston area to turn vacant lots into edible parks. These food forests not only provide underprivileged communities with greater food security but also a space for community members to spend time and host events to bring the community together. Our team at Olin has partnered with the BFFC organization to design an off-grid solar energy and irrigation system to be installed at a brand-new food forest site in 2024. In designing the systems, we take into consideration functionality and cost, as well as ease of maintenance and use for food forest stewards with non-technical backgrounds. We hope to educate both community members and BFFC organizers about solar energy and make our systems as accessible as possible. Visit https://www.bostonfoodforest.org/ to learn more about the Boston Food Forest Coalition.</p>
          </div>
          <div class="team-image-container team-right-container">
            <img src="/images/bffc_example.jpg"/>
          </div>
        </div>
      </div>
    </div>
  </section>

  </section>

  <!-- end service section -->

  <!-- info section -->

  <%- include("./components/footer") %>

  <!-- end info section -->

  <!-- jQery -->
  <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <!-- owl slider -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>

</body>

</html>