<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="/images/PInT Logo_No text light.png" type="">

  <title> PInT | Teams </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- font awesome style -->
  <link href="/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/service.css" />
  <!-- responsive style -->
  <link href="/css/responsive.css" rel="stylesheet" />

</head>

<body class="sub_page">

  <div class="hero_area">

    <div class="hero_bg_box">
      <div class="bg_img_box">
        <img src="/images/hero-bg.png" alt="">
      </div>
    </div>

    <!-- header section strats -->
    <%- include("./components/header", {page: "teams"}) %>
    <!-- end header section -->
  </div>


  <!-- service section -->

  <section class="service_section layout_padding" style="padding-bottom: 70px;">
    <div class="service_container">
      <div class="container" style="max-width:100% !important; padding: 0px;">
        <div class="team-title">Our Four Fabulous <span>Subteams</span></div>
        <div class="team-subtitle">For the 2024-2025 Academic year, PInT members working on the following projects.</div>
       <!-- Community Knights -->
        <div class="team-container-box">
          <div class="team-image-container team-left-container">
            <img src="/images/AImpower.jpeg" />
          </div>
          <div class="team-text-container team-right-container">
            <h3>AImpower</h3>
            <p>
              This project investigates and analyzes biases in existing Automatic 
              Speech Recognition (ASR) models when recognizing stuttered speech. 
              The goal is to fine-tune these models, or develop a new one, to 
              improve performance for this demographic. The team recently submitted 
              an abstract to the AAAS e-poster competition. Reach out to learn more 
              about AImpower's research!
            </p>
          </div>
        </div>

        <!-- Community Knights -->         
        <div class="team-container-box">
          <div class="team-text-container team-left-container">
            <h3>Community Knights</h3>
            <p>
              Community Knights are in charge of developing Knight Rides, a 
              nonprofit-driven mobile app designed to address transportation challenges 
              for service-focused organizations. Screened volunteer drivers, either 
              donating their time or receiving partial gas reimbursement, provide safe, 
              cost-effective rides for vulnerable populations, enabling access to critical 
              appointments, such as medical visits.
            </p>
          </div>
          <div class="team-image-container team-right-container">
            <img src="/images/ck_example.jpg" />
          </div>
        </div>

        <!-- FarmHacks -->
        <div class="team-container-box">
          <div class="team-image-container team-left-container">
            <img src="/images/thresher.jpeg" />
          </div>
          <div class="team-text-container team-right-container">
            <h3>FarmHacks</h3>
            <p>
              FarmHacks, a branch of Greenhorns, collaborates with farmers to create 
              engineering solutions for everyday challenges. The current focus is 
              developing a low-cost, small-scale grain thresher for local farmers. 
              Team members will conduct offsite visits to test the equipment in 
              real-world conditions.  
            </p>
          </div>
        </div>
        <div class="team-container-box">
          <div class="team-text-container team-left-container">
            <h3>Project Management</h3>
            <p>
              The project management team coordinates efforts across sub-teams 
              and guides their future directions. Members gain experience with 
              the AGILE framework, pitching engineering ideas to diverse audiences, 
              and developing project management skills.
            </p>
          </div>
          <div class="team-image-container team-right-container">
            <img src="/images/pm_logo.jpeg"/>
          </div>
        </div>
      </div>
    </div>
  </section>

  </section>

  <!-- end service section -->

  <!-- info section -->

  <%- include("./components/footer") %>

  <!-- end info section -->

  <!-- jQery -->
  <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <!-- owl slider -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>

</body>

</html>